@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';    
  }
  
  .container {
    background-color: #FAFCFE;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  header {
    background-color: #4caf50;
    width: 100%;
    height: 16.96vh;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    justify-content: space-between;
    padding: 0 60px;
    color: white;
  }

  .minha-empresa{
    font-weight: bold;
  }

  .contato{
    display: flex;
    padding-right: 120px;
    font-weight: normal;

  }

  .welcome-section{
    margin-bottom: 50px;
  }

  .bemvindo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2.25rem;
    margin-top: 30px;
    margin-bottom: 11px;
  }

  .descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 1.125rem;
    margin: 0px;
    margin-bottom: 21px;
  }

  .saber{
    display: flex;
    background-color: #4CAF50;
    color: white;
    font-size: 1.125rem;
    border: 5px solid #4CAF50;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    justify-self: center;
    cursor: pointer;
  }

  .services-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
  }

  .service {
      flex: 1;
      margin: 0 10px;
  }

  .rectangle {
      width: 300px;
      height: 155px;
      background-color: #4CAF50;
      margin: 0 auto;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 13px;
      color: white;
  }

  .rectangle h3 {
      font-size: 1.5rem;
      margin: 0;
      margin-bottom: 18px;
      font-weight: bold;
  }

  .rectangle p {
      font-size: 1rem;
      margin: 0;
      width: 252px;
  }

  .fale{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  form {
    display: flex;
    width: 400px;
    border-radius: 8px;
    justify-content: flex-start;
    justify-self: center;
    flex-wrap: wrap;
  }
  
  label {
      display: block;
      font-size: 1rem;
      color: #000;
  }
  
  .input {
      width: 400px;
      padding: 10px 15px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 11px;
      outline: none;
      transition: border-color 0.3s;
  }

  input::placeholder {
    color: #BABABA;
  }
    
  .enviar {
      width: 77px;
      padding: 10px;
      font-size: 1rem;
      color: white;
      background-color: #4caf50;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    margin-top: 73px;
  }
  